<div class="page-header">
  <h3>User <%= @user.username %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Photos</dt>
      <dd>
      <ul>
          <% Photo.where(:user_id=>@user.id).each do |photo|%> </a>
          <li><img src="<%=photo.image%>" height="150px"    </li>
          <% end %>
      </ul>
      </dd>





    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>
